<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1><span class="label label-success matchify-logo">Matchify</span></h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eum corrupti, quae numquam reiciendis iure corporis odit illum libero, error laudantium officia reprehenderit sint, quidem suscipit beatae distinctio ipsum consectetur.</p>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
